<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
    <channel>
        <title>Watson</title>
        <link>{{ app.request.uri }}</link>
        <description>Flux RSS</description>
        {% for link in links| slice(0,15)%}
            <item>
                <title>{{ link.title }}</title>
                <link>{{ link.url }}</link>
                <description>{{ link.desc }}</description>
                <guid>{{ link.url }}</guid> 
            </item>
        {% endfor %}
    </channel>
</rss>
